<div class="main column">
    <div class="container">
        <div class="content event">
            <div class="header">
                <div>
                    <div class="page-heading">
                        Recap: {{ .Title }}
                    </div>
                    <div class="meta">
                    <span class="date">{{ dateFormat "Jan 2 2006" .Params.Evdate }}</span>
                        <span class="location">
                            {{ .Params.Evlocation }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="markdown">
                {{ (.Resources.GetMatch "recap.md").Content }}
            </div>
        </div>
    </div>
</div>
