<div class="main column">
    <div class="container">
        <div class="content event">
            {{ partial "page-heading.html" . }}
            <div class="meta">
                <span class="date">
                    {{ dateFormat "15:04 Jan 2, 2006" .Params.Evdate }}
                </span>
                <span class="location">
                    {{ .Params.Evlocation }}
                </span>
            </div>
            <div class="markdown">
                {{ partial "content" . }}
            </div>
        </div>
    </div>
</div>
