<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>

{{ if ne .Site.Params.Eventbanner.text "" }}
<div class="event-strap">
    <a href="{{ .Site.Params.Eventbanner.link }}" target="_blank">{{ .Site.Params.Eventbanner.text }}</a>
</div>
{{ end }}

<div class="hero">
    <div class="banner">
        <div class="text">Learning the tech of tomorrow.</div>
        <div class="heronav">
            <div class="link">
                Past events
            </div>
            <div class="logo">
                <img src="img/logo_mono.png" alt="logo">
                <div>DSC Berlin</div>
            </div>
            <div class="link">
                Future events
            </div>
        </div>
    </div>
</div>

<div class="header header-home column">
    <div class="container">
        <a href="{{ .Site.BaseURL }}">
        <img class="logo" src="{{ .Site.Params.logofile | relURL }}" alt="logo">
        </a>
        <div class="content">
            <a href="{{ .Site.BaseURL }}">
                <h1 class="name">{{ .Site.Title }}</h1>
            </a>
            <nav>
                <ul>
                    {{ range .Site.Menus.main.ByWeight }}
                    <li>
                        <a href="{{ .URL }}">
                            {{ .Pre }}
                            <span>{{ .Name }}</span>
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </nav>
        </div>
    </div>
</div>
